*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header{
    height: 80vh;
    width: 100%;
    background-image: url(image/header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}
.navbar{
    height: 200px;
    width: 50%;
    display: flex;
    justify-content: start;
    align-items: end;  
}
.logo{
    height: 100px;
    width: 100px;
    padding-left: 30px;
    
}

.fa-brands{
    font-size: 4rem;
}
.fa-brands:hover{
    font-size: 3rem;
}
.hh1{
    font-size: 4rem;
    color: rgb(214, 240, 231);
    margin-left: 130px;
    margin-top: 100px;
}
.head_para{
    color:white;
    margin-left: 130px;
    
}
.company_profile{
    height: 650px;
    width: 100%;
    background-color: rgb(39, 36, 36);
    display: flex;justify-content: space-between;
   
}
.office_photo{
    height: 400px;
    width: 600px;
    padding: 100px 50px;
}
.office_photo img{
    height: 400px;
    width: 600px;
    border-radius: 8px;
}
.profil_details{
    margin-top: 200px;
    margin-right: 120px;
    color: white;
}
.profil_details p{
    margin-top: 20px;
}
.profil_details button{
    margin-top: 20px;
    font-size: 20px;
    border-radius: 5px;
}
.profil_details button:hover{
    background-color: brown;
    font-size: 22px;
}
.our_service{
    height: 500px;
    width: 100%;
    background-color: rgb(39, 36, 36);
    color: white; 
    display: flex;
    justify-content: space-between;

}
.service{
    height: 500px;
    width: 400px;
    margin-left: 100px;
    
}
.service img{
    height: 250px;
    width: 400px;
    margin-top: 30px;
    border-radius: 8px;

}
.service_details{
     margin-top: 70px;
     margin-right: 100px;

}
.section_1 p{
    margin-top: 10px;

}
.section_2 h2{
    margin-top: 30px;

}
.section_2 p{
    margin-top: 10px;

}
.client_panel{
    height: 100px;
    width: 100%;
}
.client_panel h1{
    margin-top: 20px;
    margin-left: 50px;
}
.client_panel p{
    margin-top: 10px;
    margin-left: 50px;
}
.client_review{
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px 60px;
    margin-top: 50px;

}
.box{
    height: 250px;
    width: 300px;
    background-color: rgb(31, 28, 28);
    color: white;
    text-align: center;
    border-radius: 8px;
}
.box img{
    height: 220px;
    width: 300px;
}
.ceo_msg{
    height: 500px;
    width: 100%;
    background-color: rgb(39, 36, 36);
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.msg p{
    margin-top: 50px;
    font-size: 1.1rem;
}
.together{
    height: 500px;
    width: 100%;
    background-color: rgb(39, 36, 36);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}
.work_together img{
    height: 250px;
    width: 400px;
    margin-left: 70px;
    margin-top: 20px;
    border-radius: 8px;
}
.work_together h1{
    margin-left: 70px;
}
.work_together_details{
    margin-right: 200px;
}
h3{
    margin-top: 20px;
}


/* Footer styles */
footer {
    background-color: #3c3838;
    padding: 20px 0;
    color: white;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .footer-section {
    flex: 1;
    margin-right: 40px;
  }
  
  h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 15px;
  }
  
  ul {
    
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  ul li {
    margin-bottom: 5px;
  }
  
  ul li a {
    color:white;
    text-decoration: none;
  }
  
  .bottom-footer {
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #ccc;
  }
  
  .bottom-footer p {
    font-size: 12px;
    color: #888;
    margin: 0;
  }
  
